.clients_container{

    background-color: #f9f9f9;
    }
.clients_container Text{
    -fx-font-size: 1.8em;
    -fx-font-family: "Calibri Light";
    -fx-fill: #555555;
    }
 .clients_container .list-view{
    -fx-background-color: #EEEEEE;
    -fx-border-color: #dddddd;
    -fx-border-width: 0px;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
    }

    .clients_container .list-view .list-cell{
    -fx-background-color: #EEEEEE;
    -fx-padding: 10 0 10 0;
    }