
.main_menu_container{
    -fx-background-color:#EEEEEE;
    -fx-alignment: center;
    -fx-background-radius: 10 10 10 10;
    -fx-padding: 0 15 0 15;
}
.main_menu_containerr{
    -fx-background-color:#508B55;
    -fx-alignment: center;
    -fx-background-radius: 10 10 10 10;
    -fx-padding: 0 10 0 10;
}
.main_menu_container_profile_btn{
    -fx-background-color: #132A13;
    -fx-text-fill :#FFFFFF;
    -fx-font-size:1.1em;
}
.main_menu_container_logout_btn{
    -fx-background-color:#c26e63;
    -fx-text-fill:#000000;
    -fx-alignment:center-left
}
.report_container{
    -fx-background-color: #EEFFEE;
    -fx-background-radius: 10;
    -fx-alignment: center;
    -fx-spacing:10;
    -fx-padding: 10 0 10 0;
}
.report_container Text{
    -fx-font-weight: bold;
    -fx-fill: #000000;

}
.report_container Label{
    -fx-text-alignment: center;
    -fx-wrap-text: true;
}
.report_container Button{
    -fx-pref-width:80;
    -fx-background-color:#f5341b;
}
.report_container Button:hover{
    -fx-cursor:hand;
}