
.main_menu_container{
    -fx-background-color;#EEEEEE;
    -fx-alignment: center;

}
.left_container{
    -fx-background-color:#FFFFFF;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(two-pass-box, #AAAAAA,5,8,8,4);

}
.title_container{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 20 20 0 0;
}

