.transactions_container {
    -fx-background-color: ##FFFFFF;
}

.transactions_container Text {
    -fx-fill: #000000;
}

.transactions_container .list-view {
    -fx-background-color: #EEEEEE;
    -fx-padding: 10;
}

.transactions_container .list-cell {
    -fx-background-color: #EEEEEE;
    -fx-pref-width: 800;
}
